@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --p: #0d824a;
  --pf: 10 97 56;
  --pc: 255 255 255;
} */

/* [data-theme='dark'] {
  --p: #0d824a;
  --pf: 10 97 56;
  --pc: 255 255 255;
} */

html,
body {
  scroll-behavior: smooth !important;
}

/* It makes the HTML progress bar filling smooth when value change. */
progress::-webkit-progress-value {
  transition: 0.6s width ease-out;
}

@layer base {
  .btn-gradient {
    @apply !bg-gradient !bg-[length:300%_300%] hover:saturate-[1.2] shadow duration-100 !border-0 !border-transparent !bg-transparent animate-shimmer disabled:!bg-none disabled:!bg-gray-500/30  !text-white;
  }
  .btn {
    @apply !capitalize;
  }
}

@layer components {
  .btn-primary {
    @apply bg-[#0d824a] hover:bg-[#0a6138] text-white focus:outline-none;
    box-shadow: none;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
